.idea/

# Vagrant
.vagrant/
*.retry
*.log

# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
__pycache__

# Logs
logs
pip-log.txt
npm-debug.log*

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.env

# User-uploaded media
django_blackjack/media/



staticfiles/
